[submodule "Web/React/react-tutorial"]
	path = Web/React/react-tutorial
	url = https://github.com/hyo-choi/react-tutorial.git
[submodule "Web/React/storybook-tuto"]
	path = Web/React/storybook-tuto
	url = https://github.com/hyo-choi/react-storybook-tutorial.git
[submodule "Web/React/storybook-tutorial"]
	path = Web/React/storybook-tutorial
	url = https://github.com/hyo-choi/react-storybook-tutorial.git
[submodule "Web/JavaScript/javascript-baseball-precourse"]
	path = Web/JavaScript/javascript-baseball-precourse
	url = https://github.com/hyo-choi/javascript-baseball-precourse.git
[submodule "Web/JavaScript/javascript-racingcar-precourse"]
	path = Web/JavaScript/javascript-racingcar-precourse
	url = https://github.com/hyo-choi/javascript-racingcar-precourse.git
[submodule "Web/JavaScript/javascript-subway-map-precourse"]
	path = Web/JavaScript/javascript-subway-map-precourse
	url = https://github.com/hyo-choi/javascript-subway-map-precourse
[submodule "Web/JavaScript/javascript-subway-path-precourse"]
	path = Web/JavaScript/javascript-subway-path-precourse
	url = https://github.com/hyo-choi/javascript-subway-path-precourse
[submodule "Web/TypesSript/cypress-basic"]
	path = Web/TypesSript/cypress-basic
	url = https://github.com/hyo-choi/cypress-basic.git
[submodule "Web/TypesSript/javascript-calculator"]
	path = Web/TypesSript/javascript-calculator
	url = https://github.com/hyo-choi/javascript-calculator.git
[submodule "Web/TypesSript/javascript-lotto"]
	path = Web/TypesSript/javascript-lotto
	url = https://github.com/hyo-choi/javascript-lotto.git
